{%  extends 'recipeinfo/base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <div class="row">
        <div class="offset-by-two eight columns">
        <h2>About</h2>
            <p>Jia Yi Jian's Recipe Information System, is a full-featured website for the recipe information sharing.
                This information system is designed for students in University of Illinois at Urbana Champaign. Most students
                don't have a car so they went to super market once a week and cook at home by themselves. Students can find a
                recipe according to the ingredients they have in their refrigerator.
            This website is implemented using <a href="http://www.djangoproject.com">Django</a>.</p>
        </div>
    </div>
{% endblock %}