{% extends 'recipeinfo/base.html' %}

{% block title %}
    Beverage - {{ beverage }}
{%  endblock %}

{% block content %}
<h2>{{ beverage }}</h2>
    {% if perms.recipeinfo.change_beverage %}
    <ul>
    <li><a href="{{ beverage.get_update_url }}"
        class="button">Edit Beverage</a> </li>
        {% endif%}
    {% if perms.recipeinfo.delete_beverage %}
    <li><a href="{{ beverage.get_delete_url }}"
        class="button">Delete Beverage</a></li>
    {% endif %}
    </ul>
<section>
        <h3>Ingredients of {{ beverage }}</h3>
        <ul>
            {% for bi in beverage_ingredient_list %}
                <li>
                    <a href="{{ bi.ingredient.get_absolute_url }}">{{ bi.ingredient }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no ingredients for this beverage.</em></li>
            {% endfor %}
        </ul>
    </section>
<section>
    <h3>{{ beverage }} is suitable for Recipes:</h3>
    <ul>
        {% for r in recipe_list %}
        <li>
            <a href="{{ r.get_absolute_url }}">{{ r }}</a>
        </li>
        {% empty %}
        <li><em>The beverages are currently not suitable for any recipes.</em></li>
        {% endfor %}
    </ul>
</section>
{% endblock %}