{% extends 'recipeinfo/base.html' %}

{% block title %}
    Category List
{% endblock %}


{% block content %}
<h2>Category List</h2>
    <div>
         <a href="{% url 'recipeinfo_category_create_urlpattern' %}">Create New Category</a>
    </div>
    <ul>
        {% for category in category_list %}
            <li>
            <a href="{{ category.get_absolute_url }}">{{ category }}</a>
            </li>
        {% empty %}
    {#        empty is like the end of for loop. When ingredient_list is empty, stopped. #}
            <li><em>There are currently no categories in the list.</em></li>
        {% endfor %}
    </ul>

{% endblock %}