{% extends 'recipeinfo/base.html' %}

{% block title %}
    Cuisine Ingredient List
{% endblock %}


{% block content %}
<h2>Cuisine Ingredient List</h2>
    {% if perms.recipeinfo.add_ingredient %}
    <div>
         <a href="{% url 'recipeinfo_ingredient_create_urlpattern' %}"
         class="button button-primary">Create New Ingredient</a>
    </div>
    {% endif %}
<ul>
    {% for ingredient in ingredient_list %}
        <li>
        <a href="{{ ingredient.get_absolute_url }}">{{ ingredient }}</a>
        </li>
    {% empty %}
{#        empty is like the end of for loop. When ingredient_list is empty, stopped. #}
        <li><em>There are currently no cuisine ingredients in the list.</em></li>
    {% endfor %}
</ul>
{% endblock %}