{% extends 'recipeinfo/base.html' %}

{% block title %}
    ingredient - {{ ingredient.ingredient_name }}
{%  endblock %}

{% block content %}
<h2>{{ ingredient.ingredient_name }}</h2>
    <ul>
    <li><a href="{{ ingredient.get_update_url }}"
        class="button">Edit Recipe Ingredient</a> </li>
    <li><a href="{{ ingredient.get_delete_url }}"
        class="button">Delete Recipe Ingredient</a></li>
    </ul>

<section>
    <table>
        <tr>
            <th>Ingredient Name:</th>
            <td>{{ ingredient.ingredient_name }}</td>
        </tr>
        <tr>
            <th>Is the ingredient vegetarian:</th>
            <td>{{ is_vegetarian }}</td>
        </tr>
        <tr>
            <th>What is its category:</th>
            <td>{{ ingredient.category }}</td>
        </tr>
            <th>Recipes that contain {{ ingredient.ingredient_name }}</th>
            <td>{% for ri in recipe_ingredient_list %}
        <li>
            <a href="{{ ri.recipe.get_absolute_url }}">{{ ri.recipe }}</a>
        </li>
        {% empty %}
        <li><em>The ingredient are currently not included in any recipes.</em></li>
        {% endfor %}</td>
    </table>
</section>
{% endblock %}