{% extends 'recipeinfo/base.html' %}

{% block title %}
    Recipe - {{ recipe }}
{%  endblock %}

{% block content %}
<h2>{{ recipe }}</h2>
    <ul>
    <li><a href="{{ recipe.get_update_url }}">Edit Recipe</a> </li>
    <li><a href="{{ recipe.get_delete_url }}">Delete Recipe</a></li>
    </ul>


<section>
    <h3>Ingredients of {{ recipe }}</h3>
    <ul>
        {% for ri in recipe_ingredient_list %}
        <li>
            <a href="{{ ri.ingredient.get_absolute_url }}">{{ ri.ingredient }}</a>
        </li>
        {% empty %}
        <li><em>There are currently no ingredients for this recipe.</em></li>
        {% endfor %}
    </ul>
</section>
{% endblock %}