{% extends 'recipeinfo/base.html' %}

{% block title %}
    Recipe List
{% endblock %}


{% block content %}
<h2>Recipe List</h2>
    {% if perms.recipeinfo.add_recipe %}
    <div>
         <a href="{% url 'recipeinfo_recipe_create_urlpattern' %}"
         class="button button-primary">Create New Recipe</a>
    </div>
    {% endif %}
<ul>
    {% for recipe in recipe_list %}
        <li>
        <a href="{{ recipe.get_absolute_url }}">{{ recipe }}</a>
        </li>
    {% empty %}
{#        empty is like the end of for loop. When ingredient_list is empty, stopped. #}
        <li><em>There are currently no recipes in the list.</em></li>
    {% endfor %}
</ul>
{% endblock %}