{% extends 'recipeinfo/base.html' %}

{% block title %}
    Cuisine Type
{% endblock %}


{% block content %}
<h2>Cuisine Type</h2>
    <div>
         <a href="{% url 'recipeinfo_recipe_type_create_urlpattern' %}"
         class="button button-primary">Create New Recipe Type</a>
    </div>
<ul>
    {% for recipe_type in recipe_type_list %}
        <li>
        <a href="{{ recipe_type.get_absolute_url }}">{{ recipe_type }}</a>
        </li>
    {% empty %}
{#        empty is like the end of for loop. When ingredient_list is empty, stopped. #}
        <li><em>There are currently no cuisine type in the list.</em></li>
    {% endfor %}
</ul>
{% endblock %}