{% extends 'recipeinfo/base.html' %}

{% block title %}
    Ingredient of the Category - {{ category }}
{%  endblock %}

{% block content %}
<h2>{{ category }}</h2>


<section>
    <h3>Ingredients Belong to this Category</h3>
    <ul>
        {% for i in ingredient_list %}
        <li>
            <a href="{{ i.get_absolute_url }}">{{ i }}</a>
        </li>
        {% empty %}
        <li><em>The ingredients are currently not belong to any categories.</em></li>
        {% endfor %}
    </ul>
</section>
{% endblock %}