{% extends 'recipeinfo/base.html' %}

{% block title %}
    ingredient - {{ ingredient.ingredient_name }}
{%  endblock %}

{% block content %}
<h2>{{ ingredient.ingredient_name }}</h2>

<section>
    <table>
        <tr>
            <th>Ingredient Name:</th>
            <td>{{ ingredient.ingredient_name }}</td>
        </tr>
        <tr>
            <th>Is the ingredient vegetarian:</th>
            <td>{{ is_vegetarian }}</td>
        </tr>
        <tr>
            <th>What is its category:</th>
            <td>{{ ingredient.category }}</td>
        </tr>
    </table>
</section>
{% endblock %}