{% extends 'recipeinfo/base.html' %}

{% block title %}
    Recipe List
{% endblock %}


{% block content %}
<h2>Recipe List</h2>
    <div>
         <a href="{% url 'recipeinfo_recipe_create_urlpattern' %}">Create New Recipe</a>
    </div>
<ul>
    {% for recipe in recipe_list %}
        <li>
        <a href="{{ recipe.get_absolute_url }}">{{ recipe }}</a>
        </li>
    {% empty %}
{#        empty is like the end of for loop. When ingredient_list is empty, stopped. #}
        <li><em>There are currently no recipes in the list.</em></li>
    {% endfor %}
</ul>
        {% if is_paginated %}
    <ul>
        {% if previous_page_url %}
            <li>
            <a href="{{ previous_page_url }}">Previous</a>
            </li>
    {% endif %}
        <li>
            Page{{ recipe.number }}
            of {{ paginator.num_pages }}
        </li>
    {% if next_page_url %}
        <li>
            <a href="{{ next_page_url }}">Next</a>
        </li>
    {% endif %}
    </ul>
        {% endif %}
{% endblock %}