{% extends 'recipeinfo/base.html' %}

{% block title %}
    Recipe Type - {{ recipe_type.recipe_type_name }}
{%  endblock %}

{% block content %}
<h2>{{ recipe_type.recipe_type_name }}</h2>
    <ul>
    <li><a href="{{ recipe_type.get_update_url }}">Edit Recipe Type</a> </li>
    </ul>

<section>
    <h3>Recipes belong to this recipe type:</h3>
    <ul>
        {% for r in recipe_list %}
        <li>
            <a href="{{ r.get_absolute_url }}">{{ r }}</a>
        </li>
        {% empty %}
        <li><em>The recipe type currently does not have any recipes.</em></li>
        {% endfor %}
    </ul>
</section>
{% endblock %}